/**
  * @custom.css
  * Basic style customisations.
 **/

body {
  background: url(../../images/background.jpg) !important;
  font-weight: 500;
}
a.site-branding__logo img {
  height: 5.6em;
}
#global-menu {
  background: #161616;
}
.region-global-menu .menu{
  text-align: unset;
  font-size: unset;
}
#block-globalmenu >
div.content >
ul >
li >
a {
  font-family: Raleway;
  font-weight: 800;
  color: #c6bc79 !important;
  font-size: 12pt !important;
  text-transform: lowercase;
}
#banner {
  height: 4em;
  background: url("https://dyskusje.austro-wegry.org/uploads/default/original/2X/f/fc34b0a9d8525bfc674fc30dd95275d30eadad2c.jpg");
  background-size: contain;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Kurale';
}
a {
  font-weight: 600;
}
main#content{
  background: rgba(255,255,255,0.95);
  box-shadow: 0 1px 8px rgba(0,0,0,0.8) !important;
  border-radius: 8px;
}
